  .{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: cyan;

}
/*Responsive*/
@media (max-width:500px){
    header li{
        width: 60px;
        height: 60px;
        font-size: 12px;
    }
}
.header h1{
    text-align: center;
    weight:20px;
    text-align: justify;
}
.nav-bar{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px 30px;
    flex-wrap: wrap;
    flex-direction: row;
}
.logo img{
    height: 140px;
    weight:140px;
}
.logo a{
    font-weight: bold;
    float: right;
}

.nav-links{
    list-style: none;
    display: flex;
}
.nav-links a{
    text-decoration: none;
    color: coral;
    transition: 0.3s;
    justify-content: space-between;
    margin: 2px;
    padding: 20px;
    
    
}
.nav-links a:hover{
    color: #f0a500;
}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 300px;
}
.slides{
    display: flex;
    width: 300%;/*nombre d'image * 100% */
    animation: slide 9s infinite;
}
.slides img{
    width: 100%;
    height: 360px;
    object-fit: cover;
}

@keyframes slide {
    0% {margin-left: 0;}
    33% {margin-left: -100%;}
    66% {margin-left: -200%;}
    100% {margin-left: 0;}
}
.h2{
    weight:20px
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
    gap: 25%;
}
.suggestions h2{
    text-align: center;
}
.container cadre{
    background-color: grey;
    float:right;
}
.testimon{
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
}
.testimonials h1{
    text-align: center;
}
.testimonial text{
    text-align: center;
}
.testimonial h4{
text-align: center;
}
.footer{
    
    text-align: center;
    color: #f0a500;
}
.footer all{
    border: 2px solid yellow;
}
    .carousel {
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: auto;
        overflow: hidden;
      }
      
      .slide {
        display: none;
        width: 100%;
      }
      
      .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0,0,0,0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 24px;
      }
      
      .prev {
        left: 07px;
      }
      
      .next {
        right: 07px;
      }
      
